<div class="container">
    <div>
        <h1>Basic Reactive Form</h1>
    
        <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text"  formControlName="name" class="form-control"
                    id="exampleInputEmail1" placeholder="name">
                <small id="emailHelp" class="form-text text-muted">We'll never share your name with anyone else.</small>
                <div [hidden]="form.controls.name.valid || form.controls.name.pristine" class="alert alert-danger">
                    Name is Required
                </div>
            </div>
            <div class="form-group">
                <label for="alterEgo">Alter Ego</label>
                <input type="ego"  formControlName="ego" class="form-control"
                    id="exampleInputPassword1" placeholder="Ego" >
                <div [hidden]="form.controls.ego.valid || form.controls.ego.pristine" class="alert alert-danger">
                    Alter Ego is Required
                </div>
            </div>
            <div class="form-group">
                <label for="power">Hero Power</label>
                <select class="form-control"  formControlName="heroPower" >
                  <option *ngFor="let p of heroPower" [value]="p">{{ p }}</option>
                </select>
                <div class="alert alert-danger" [hidden]="form.controls.heroPower.valid || form.controls.heroPower.pristine">Power is required</div>
              </div>
            <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Submit</button>
        </form>
    </div>
    
    <div [hidden]="!submitted">
        <h2>You submitted the following:</h2>
        <div class="row">
            <div class="col-md-2">Name:{{ form.value.name }}</div>
        </div>
        <div class="row">
            <div class="col-md-2">Alter Ego:{{ form.value.ego }}</div>
        </div>
        <div class="row">
            <div class="col-md-2">Power:{{ form.value.heroPower }}</div>
            <div class="col-md-10 pull-left"></div>
        </div>
        
        <button class="btn btn-primary" (click)="submitted=false">Edit</button>
    </div>
    
    </div>
